{% extends 'consultant/base_consultant.html.twig' %}

{% block title %}consultant:liste candidats{% endblock %}


{% block contentconsultant %}
<div class="liste candidat">
    {% if fiche == true %} {% include 'consultant/consultant_candidats/fiche_candidat.html.twig'%}{% endif %}
    {% if suppression == true %}
    {% include 'consultant/supprimer_profil.html.twig' %}
    {% endif %}
    {% if valider == 'valider' %}
    {% include 'consultant/consultant_candidats/liste_candidat_valides.html.twig'%}
    {% endif %}
    {% if valider == 'nonvalider' %}

    {% include 'consultant/consultant_candidats/liste_candidat_non_valides.html.twig'%}
    {% endif %}
</div>
{% endblock %}