<h1>Proposition de candidature</h1>
<table cellpadding="0" cellspacing="0" border="0" width="640" align="center"
    style="margin:auto;clear:both;width:640px;background-color:#eee;">
    <thead>
        <tr>

            <td style="height:80px;font-size:20px;padding:10px;color:#fff;background-color:#025159;text-align:center">
                {% include 'templateEmail/email_logo.html.twig' %}
                <span style="color:#fff;display:inline-block;padding-bottom:15px;">TRT recrutement</span>
            </td>
        </tr>

    </thead>
    <tbody>
        <tr>
            <td style="height:20px;font-size:16px;padding:5px;">
                Bonjour,
                <p>Nous avons selectionner quelques candidats pour votre annonce.</p>
                vous rechercher:
                <ul>
                    <li>Un/ Une {{profession}} pour un contrat de {{contrat}} avec {{experience}}.</li>
                </ul>
                <p>Vous pouvez consulter la fiche de ce candidat dans votre espace administrateur sur le site.</p>
            </td>
        </tr>

    </tbody>
</table>