<h4 id="idnonvalid"><strong>Annonces non validées</strong>

</h4>
<div class="tbody box-accordeon">
    {% set index = 0 %}
    {% for annonce in listeannonces %}

    {% set index = index + 1 %}
    <article class=" annonce novalid  {% if  index % 2 == 0  %} paire {% else %} impaire {% endif %} ">

        {% include 'consultant/consultant_annonces/element_annonce.html.twig'%}

        <div class="row">
            <div class="col-xxl-4 action"><span><strong>voir: </strong></span><a class="voir btn"
                    href="{{path('app_consultant_annonce_voir',{'id':annonce.id})}}">{% include
                    'svg/svg_voir.html.twig' %}
                </a>
            </div>

            {% if annonce.complet == true %}
            <div class="col-xxl-4 action"><a href="{{path('app_consultant_annonce_validation',{'id':annonce.id})}}"
                    class="btn btn-primary">Valider</a>
            </div>
            {% else %}
            <div class="col-xxl-4 action"><strong>Annonce incomplète</strong></div>
            {% endif %}
            <div class="col-xxl-4 action">
                <a href="{{path('app_consultant_annonce_supprimer',{'id':annonce.id})}}">
                    {% include 'svg/svg_supprimer.html.twig' %}

                </a>
            </div>
    </article>
    {% endfor %}
</div>