{% extends "base.html.twig" %}
{% block title %}Page non trouvée {% endblock %}
{% block wrapper %}
<div class="container wrapper">
    <h1>OUPS!</h1>
    <h3><strong>La page n'a pas été trouvé</strong></h3>
    <h4>code erreur {{status_code}}</h4>
</div>

{% endblock %}